@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Cemetery Regulations</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
             
                <li class="breadcrumb-item text-primary active" aria-current="page"> Cemetery Regulations</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 pt-5 pe-5" src="~/Theme/img/about-1.jpg" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="~/Theme/img/about-2.jpg" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Cemetery Regulations</div>
                    
                    <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                        <p class="text-dark mb-2">
                            The Muslim Cemetery and all gravesites is the sole property of the Connecticut Council of Masajid (CCM). The CCM reserves the right to allow or deny the burial of a deceased person at the 1105 Paradise Avenue, Hamden, CT site for any reason without liability. Only Muslims whose faith conforms to the Quran and Sunnah, and is attested to be a Muslim, may be buried in the Cemetery and only structure that is authorized by the CCM will be allowed to be built. For a complete list of all cemetery regulations, contact the CCM Administrative Office (203) 562-2757 or (other phone numbers) during office hours (office hours to be posted)
                        </p>
                  
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-8">
    <div class="container">
        
        <div class="row g-8 justify-content-center">
            <div class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="img/icon-1.png" alt="">
                    <h4 class="mb-3">Rules & Regulations</h4>
                    <p class="mb-4">
                        Connecticut Council of Masajid relies on you to follow its rules and regulations and to keep its cemetery grounds clean. Your extra help in this regard can help us save a lot.
                        Any person in need of a grave site for his/her dear one can fill and submit the Online Burial Registration form or meet CCM representative after printing, filling up and signing the form providing information regarding the deceased for record keeping and receive a copy of the rules and regulations.
                        Notice of at least twenty four (24) hours, before the announced burial time, will be required for digging arrangements.
                        All burials have to be completed during daylight hours only. There is no arrangement for light at the cemetery. Burials have to conform to all state and county requirements.
                        Only the next available grave site in line will be provided. No reservation of spots for anyone is permitted.
                        No grave shall be raised above the established grade (no cement or brick grave). No enclosure of any kind, such as a fence, hedge, ditch, gravel, or shrubs shall be permitted around any grave. No tomb or mausoleum may be erected on any grave.
                        No raised headstones or markers are allowed. <br />  <br />
                        No one is allowed to make any changes or alterations to the graves.  <br />
                        No work is to be performed by anybody at the cemetery property without written permission of the Association.
                        Vehicles will be parked properly in the parking lot only. No vehicles are to be driven through the cemetery grounds, except the grave digger or maintenance person’s vehicle.
                        No person shall pluck or remove any plant or flowers from any part of the cemetery. <br /><br />
                        Flowers may be placed on graves but not in a vase, basket, potted plant, or any other container. Any other decoration will not be permitted.
                        No digging of holes or breaking/injuring any tree shrubs or in any way defacing the grounds or structures of the cemetery.
                        No person will be permitted to use profane or boisterous language or in any way disturb the quiet and good order of the cemetery.
                        No advertisements, notice, or sign of any kind will be allowed. <br /><br />
                        The CCM will like to remind the people that cemetery grounds are sacred to us all and are devoted to the burial of the dead. You will all do us a big favor by abiding by these and other rules and keeping this cemetery clean and beautiful.
                        The ground care of the entire cemetery is assumed by the CCM. It is, however, the responsibility of the relatives and friends of the deceased to pay generous donations and volunteer help with the future maintenance of the cemetery. We will appreciate your support to this noble cause. All donations should be mailed to the address found on the CCM webpage. May Allah (SAW) bless you for your kindheartedness.
                        The CCM may at any time, without notice, adopt new rules and regulations or amend/alter and/or repeal any rule, regulation and/or sentence in these rules and regulations.


                        
                    
                    </p>
                    
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Service End -->